<div class="nav-container">
    <a href="/" class="logo">
        <img src="/assets/images/logo.png" alt="인생마술 로고">
    </a>
    <nav>
        <ul class="nav-links" id="nav-links">
            <li><a href="/" data-page="index">홈</a></li>
            <li><a href="/pages/about/" data-page="about">회사소개</a></li>
            <li><a href="/pages/program/" data-page="program">프로그램</a></li>
            <li><a href="/pages/history/" data-page="history">히스토리</a></li>
            <li><a href="/pages/inquiry/" data-page="inquiry">문의</a></li>
        </ul>
    </nav>
    <button class="hamburger" id="hamburger" aria-label="메뉴 토글">
        <span></span>
        <span></span>
        <span></span>
    </button>
</div>
